@import url(reveal.css);
@import url(beige.css);
/* line 5, all.css.sass */
.editor-content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -550px;
  width: 562px;
  margin-top: -224px;
  height: 424px;
  line-height: 1.3 !important;
  font-size: 20px !important;
  background: #eeeeee; }
  /* line 16, all.css.sass */
  .editor-content textarea, .editor-content .ace_scroller {
    text-align: left; }

/* line 20, all.css.sass */
pre.editor-jsbuffer {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 22px;
  width: 592px;
  margin-top: -225px;
  height: 400px;
  background-color: rgba(255, 204, 0, 0.05);
  border: 2px solid rgba(255, 204, 0, 0.3);
  padding: 10px 10px;
  border-radius: 10px;
  overflow: auto; }

/* line 33, all.css.sass */
.run {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -440px;
  margin-top: 250px;
  cursor: pointer; }

/* line 42, all.css.sass */
pre.editor-console {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  width: 855px;
  margin-top: 210px;
  height: 106px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 10px;
  overflow: auto;
  word-wrap: break-word; }
  /* line 56, all.css.sass */
  pre.editor-console .log {
    display: block;
    color: #666666; }
  /* line 59, all.css.sass */
  pre.editor-console .return {
    color: #1f1fca; }
    /* line 61, all.css.sass */
    pre.editor-console .return:before {
      content: "=> "; }

/* line 63, all.css.sass */
pre.code {
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 10px;
  overflow: auto;
  word-wrap: break-word; }

/* line 70, all.css.sass */
h1.title {
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 25%; }

/* line 75, all.css.sass */
.ace-tm .ace_line .ace_comment {
  color: #eeffee !important; }

/* line 79, all.css.sass */
#intro img {
  border: 0;
  box-shadow: none; }
